{{!-- The following component displays Ember's default welcome message. --}}
{{#if session.isAuthenticated}}
    <button {{action 'createRental'}}>Create new rental</button>
{{/if}}
{{!-- Feel free to remove this! --}}

{{outlet}}
